{"openapi":"3.1.0","info":{"title":"Svix API","description":"Welcome to the Svix API documentation!\n\nUseful links: [Homepage](https://www.svix.com) | [Support email](mailto:support+docs@svix.com) | [Blog](https://www.svix.com/blog/) | [Slack Community](https://www.svix.com/slack/)\n\n# Introduction\n\nThis is the reference documentation and schemas for the [Svix webhook service](https://www.svix.com) API. For tutorials and other documentation please refer to [the documentation](https://docs.svix.com).\n\n## Main concepts\n\nIn Svix you have four important entities you will be interacting with:\n\n- `messages`: these are the webhooks being sent. They can have contents and a few other properties.\n- `application`: this is where `messages` are sent to. Usually you want to create one application for each user on your platform.\n- `endpoint`: endpoints are the URLs messages will be sent to. Each application can have multiple `endpoints` and each message sent to that application will be sent to all of them (unless they are not subscribed to the sent event type).\n- `event-type`: event types are identifiers denoting the type of the message being sent. Event types are primarily used to decide which events are sent to which endpoint.\n\n\n## Authentication\n\nGet your authentication token (`AUTH_TOKEN`) from the [Svix dashboard](https://dashboard.svix.com) and use it as part of the `Authorization` header as such: `Authorization: Bearer ${AUTH_TOKEN}`. For more information on authentication, please refer to the [authentication token docs](https://docs.svix.com/api-keys).\n\n<SecurityDefinitions />\n\n\n## Code samples\n\nThe code samples assume you already have the respective libraries installed and you know how to use them. For the latest information on how to do that, please refer to [the documentation](https://docs.svix.com/).\n\n\n## Idempotency\n\nSvix supports [idempotency](https://en.wikipedia.org/wiki/Idempotence) for safely retrying requests without accidentally performing the same operation twice. This is useful when an API call is disrupted in transit and you do not receive a response.\n\nTo perform an idempotent request, pass the idempotency key in the `Idempotency-Key` header to the request. The idempotency key should be a unique value generated by the client. You can create the key in however way you like, though we suggest using UUID v4, or any other string with enough entropy to avoid collisions.\n\nSvix's idempotency works by saving the resulting status code and body of the first request made for any given idempotency key for any successful request. Subsequent requests with the same key return the same result for a period of up to 12 hours.\n\nPlease note that idempotency is only supported for `POST` requests.\n\n\n## Cross-Origin Resource Sharing\n\nThis API features Cross-Origin Resource Sharing (CORS) implemented in compliance with [W3C spec](https://www.w3.org/TR/cors/). And that allows cross-domain communication from the browser. All responses have a wildcard same-origin which makes them completely public and accessible to everyone, including any code on any site.\n","version":"1.76.1","x-logo":{"altText":"Svix Logo","url":"https://www.svix.com/static/img/brand-padded.svg"}},"servers":[{"url":"https://api.eu.svix.com/","description":"The Svix EU region"},{"url":"https://api.us.svix.com/","description":"The Svix US region"}],"paths":{"/dashboard/invite":{"post":{"tags":["Invitation"],"summary":"Create Invite","description":"Invite a user (email address) to an organization.","operationId":"dashboard.invite","parameters":[{"in":"header","name":"idempotency-key","description":"The request's idempotency key","schema":{"type":"string"},"style":"simple"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InviteIn"}}},"required":true},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InviteOut"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"cURL","lang":"Shell","source":"curl -X 'POST' \\\n  'https://api.eu.svix.com/dashboard/invite' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \n    }'"}]}},"/dashboard/invite/org-group":{"get":{"tags":["Invitation"],"summary":"List Org Group Invites","description":"Get the invite items of the organization group the user is authenticated for\n(The users that are invited to the current organization group).","operationId":"dashboard.list-invites-by-org-group","parameters":[{"in":"query","name":"limit","description":"Limit the number of returned items.","schema":{"description":"Limit the number of returned items.","type":"integer","format":"uint64","maximum":250.0,"minimum":1.0},"style":"form"},{"in":"query","name":"iterator","description":"The iterator returned from a prior invocation.","schema":{"description":"The iterator returned from a prior invocation.","type":"string","maxLength":33,"minLength":33,"pattern":"^oinvt_[A-Za-z0-9]{27}$","example":"oinvt_1srOrx2ZWZBpBUvZwXKQmoEYga2","nullable":true},"style":"form"},{"in":"query","name":"invite_status","schema":{"$ref":"#/components/schemas/OrganizationInviteStatus","nullable":true},"style":"form"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResponse_InviteOut_"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"cURL","lang":"Shell","source":"curl -X 'GET' \\\n  'https://api.eu.svix.com/dashboard/invite/org-group' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'"}]}},"/dashboard/invite/respond/{org_group_invite_id}":{"post":{"tags":["Invitation"],"summary":"Respond To Invite","description":"Respond to an invite.","operationId":"dashboard.respond-to-invite","parameters":[{"in":"header","name":"idempotency-key","description":"The request's idempotency key","schema":{"type":"string"},"style":"simple"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InviteResponseIn"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InviteOut"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"cURL","lang":"Shell","source":"curl -X 'POST' \\\n  'https://api.eu.svix.com/dashboard/invite/respond/{org_group_invite_id}' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \n    }'"}]}},"/dashboard/invite/{org_group_invite_id}":{"delete":{"tags":["Invitation"],"summary":"Delete Invite","description":"Delete an invite.","operationId":"dashboard.delete-invite","responses":{"204":{"description":"no content"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"cURL","lang":"Shell","source":"curl -X 'DELETE' \\\n  'https://api.eu.svix.com/dashboard/invite/{org_group_invite_id}' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'"}]}},"/dashboard/search":{"post":{"tags":["Search"],"summary":"Search Application","description":"Search all applications containing a string in its id, uid or name.","operationId":"dashboard.search","parameters":[{"in":"query","name":"limit","description":"Limit the number of returned items","schema":{"description":"Limit the number of returned items","type":"integer","format":"uint64","maximum":250.0,"minimum":1.0},"style":"form"},{"in":"query","name":"iterator","description":"The iterator returned from a prior invocation","schema":{"description":"The iterator returned from a prior invocation","type":"string","maxLength":31,"minLength":31,"pattern":"^app_[A-Za-z0-9]{27}$","example":"app_1srOrx2ZWZBpBUvZwXKQmoEYga2","nullable":true},"style":"form"},{"in":"query","name":"order","description":"The sorting order of the returned items","schema":{"description":"The sorting order of the returned items","$ref":"#/components/schemas/Ordering","nullable":true},"style":"form"},{"in":"header","name":"idempotency-key","description":"The request's idempotency key","schema":{"type":"string"},"style":"simple"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchQueryIn"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResponse_SearchResultOut_"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"cURL","lang":"Shell","source":"curl -X 'POST' \\\n  'https://api.eu.svix.com/dashboard/search' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \n    }'"}]}},"/dashboard/audit-log/{env_id}":{"get":{"tags":["Event Catalog"],"summary":"Get Dashboard Audit Log","description":"Return the audit log events for a particular org.","operationId":"dashboard.list-audit-log","parameters":[{"in":"path","name":"env_id","description":"The Environment's ID.","required":true,"schema":{"description":"The Environment's ID.","type":"string","maxLength":31,"minLength":31,"pattern":"^org_[A-Za-z0-9]{27}$","example":"org_1srOrx2ZWZBpBUvZwXKQmoEYga2"},"style":"simple"},{"in":"query","name":"limit","description":"Limit the number of returned items","schema":{"description":"Limit the number of returned items","type":"integer","format":"uint64","maximum":250.0,"minimum":1.0},"style":"form"},{"in":"query","name":"iterator","description":"The iterator returned from a prior invocation","schema":{"description":"The iterator returned from a prior invocation","$ref":"#/components/schemas/StreamEventIterator","nullable":true},"style":"form"},{"in":"query","name":"before","schema":{"type":"string","format":"date-time","nullable":true},"style":"form"},{"in":"query","name":"after","schema":{"type":"string","format":"date-time","nullable":true},"style":"form"},{"in":"query","name":"method","schema":{"type":"string","nullable":true},"style":"form"},{"in":"query","name":"route","schema":{"type":"string","nullable":true},"style":"form"},{"in":"query","name":"status_code","schema":{"type":"integer","format":"uint16","minimum":0.0,"nullable":true},"style":"form"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResponse_DashboardAuditLogRecordOut_"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"cURL","lang":"Shell","source":"curl -X 'GET' \\\n  'https://api.eu.svix.com/dashboard/audit-log/{env_id}' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'"}]}},"/dashboard/invite/find":{"post":{"tags":["Invitation"],"summary":"Find Invite","description":"Find an invite by invitation token.","operationId":"dashboard.find-invite","parameters":[{"in":"header","name":"idempotency-key","description":"The request's idempotency key","schema":{"type":"string"},"style":"simple"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindInviteByTokenIn"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InviteOut"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"cURL","lang":"Shell","source":"curl -X 'POST' \\\n  'https://api.eu.svix.com/dashboard/invite/find' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \n    }'"}]}},"/dashboard/event-types/{env_id}":{"get":{"tags":["Event Catalog"],"summary":"Get Dashboard Event Catalog","description":"Return the list of event types.","operationId":"dashboard.event-catalog","parameters":[{"in":"path","name":"env_id","description":"The Environment's ID.","required":true,"schema":{"description":"The Environment's ID.","type":"string","maxLength":31,"minLength":31,"pattern":"^org_[A-Za-z0-9]{27}$","example":"org_1srOrx2ZWZBpBUvZwXKQmoEYga2"},"style":"simple"},{"in":"query","name":"limit","description":"Limit the number of returned items","schema":{"description":"Limit the number of returned items","type":"integer","format":"uint64","maximum":250.0,"minimum":1.0},"style":"form"},{"in":"query","name":"iterator","description":"The iterator returned from a prior invocation","schema":{"description":"The iterator returned from a prior invocation","type":"string","maxLength":256,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"user.signup","nullable":true},"style":"form"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventCatalogOut"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"cURL","lang":"Shell","source":"curl -X 'GET' \\\n  'https://api.eu.svix.com/dashboard/event-types/{env_id}' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'"}]}},"/ingest/api/v1/source":{"get":{"tags":["Ingest Source"],"summary":"List Ingest Sources","description":"List of all the organization's Ingest Sources.","operationId":"v1.ingest.source.list","parameters":[{"in":"query","name":"limit","description":"Limit the number of returned items","schema":{"description":"Limit the number of returned items","type":"integer","format":"uint64","maximum":250.0,"minimum":1.0},"style":"form"},{"in":"query","name":"iterator","description":"The iterator returned from a prior invocation","schema":{"description":"The iterator returned from a prior invocation","type":"string","maxLength":26,"minLength":26,"pattern":"^src_[A-Za-z0-9]{22}$","example":"src_2yZwUhtgs5Ai8T9yRQJXA","nullable":true},"style":"form"},{"in":"query","name":"order","description":"The sorting order of the returned items","schema":{"description":"The sorting order of the returned items","$ref":"#/components/schemas/Ordering","nullable":true},"style":"form"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResponse_IngestSourceOut_"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"const listResponseIngestSourceOut = await svix.ingest.source.list();"},{"label":"TypeScript","lang":"JavaScript","source":"const listResponseIngestSourceOut = await svix.ingest.source.list();"},{"label":"Python","lang":"Python","source":"list_response_ingest_source_out = svix.ingest.source.list(options=...)"},{"label":"Python (Async)","lang":"Python","source":"list_response_ingest_source_out = await svix.ingest.source.list(options=...)"},{"label":"Go","lang":"Go","source":"listResponseIngestSourceOut, err := svixClient.Ingest.Source.List(ctx, nil)"},{"label":"Kotlin","lang":"Kotlin","source":"val listResponseIngestSourceOut = svix.ingest.source.list()"},{"label":"Java","lang":"Java","source":"ListResponseIngestSourceOut listResponseIngestSourceOut = svix.getIngest().getSource().list();"},{"label":"Ruby","lang":"Ruby","source":"list_response_ingest_source_out = svix.ingest.source.list()"},{"label":"Rust","lang":"Rust","source":"let list_response_ingest_source_out = svix.ingest().source().list(None).await?;"},{"label":"C#","lang":"C#","source":"var listResponseIngestSourceOut = await svix.Ingest.Source.ListAsync();"},{"label":"PHP","lang":"PHP","source":"$listResponseIngestSourceOut = $svix->ingest->source->list();"},{"label":"CLI","lang":"Shell","source":"svix ingest source list "},{"label":"cURL","lang":"Shell","source":"curl -X 'GET' \\\n  'https://api.eu.svix.com/ingest/api/v1/source' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'"}]},"post":{"tags":["Ingest Source"],"summary":"Create Ingest Source","description":"Create Ingest Source.","operationId":"v1.ingest.source.create","parameters":[{"in":"header","name":"idempotency-key","description":"The request's idempotency key","schema":{"type":"string"},"style":"simple"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IngestSourceIn"}}},"required":true},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IngestSourceOut"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"const ingestSourceOut = await svix.ingest.source.create({\n    name: \"myGithubWebhook\",\n    uid: \"unique-identifier\",\n    type: \"github\",\n    config: {\n        secret: \"SECRET\"\n    },\n});"},{"label":"TypeScript","lang":"JavaScript","source":"const ingestSourceOut = await svix.ingest.source.create({\n    name: \"myGithubWebhook\",\n    uid: \"unique-identifier\",\n    type: \"github\",\n    config: {\n        secret: \"SECRET\"\n    },\n});"},{"label":"Python","lang":"Python","source":"ingest_source_out = svix.ingest.source.create(IngestSourceIn(\n    name=\"myGithubWebhook\",\n    uid=\"unique-identifier\",\n    type=\"github\",\n    config=GithubConfig(\n        secret=\"SECRET\"\n    ),\n))"},{"label":"Python (Async)","lang":"Python","source":"ingest_source_out = await svix.ingest.source.create(IngestSourceIn(\n    name=\"myGithubWebhook\",\n    uid=\"unique-identifier\",\n    type=\"github\",\n    config=GithubConfig(\n        secret=\"SECRET\"\n    ),\n))"},{"label":"Go","lang":"Go","source":"ingestSourceOut, err := svixClient.Ingest.Source.Create(\n    ctx,\n    &IngestSourceIn{\n        Name: \"myGithubWebhook\",\n        Uid: \"unique-identifier\",\n        Type: IngestSourceInTypeGithub,\n        Config: GithubConfig{\n            Secret: \"SECRET\",\n        },\n    },\n)"},{"label":"Kotlin","lang":"Kotlin","source":"val ingestSourceOut = svix.ingest.source.create(IngestSourceIn(\n    name = \"myGithubWebhook\",\n    uid = \"unique-identifier\",\n    config = IngestSourceInConfig.Github(GithubConfig(\n        secret = \"SECRET\"\n    )),\n))"},{"label":"Java","lang":"Java","source":"IngestSourceOut ingestSourceOut = svix\n    .getIngest()\n    .getSource()\n    .create(new IngestSourceIn()\n        .name(\"myGithubWebhook\")\n        .uid(\"unique-identifier\")\n        .config(new IngestSourceInConfig.Github(new GithubConfig()\n        .secret(\"SECRET\")\n        ))\n    );"},{"label":"Ruby","lang":"Ruby","source":"ingest_source_out = svix.ingest.source.create(Svix::IngestSourceIn.new({\n    \"name\": \"myGithubWebhook\",\n    \"uid\": \"unique-identifier\",\n    \"config\": Svix::IngestSourceInConfig::Github.new({\n        \"secret\": \"SECRET\"\n    })\n}))"},{"label":"Rust","lang":"Rust","source":"let ingest_source_out = svix.ingest().source().create(\n    IngestSourceIn {\n        name: \"myGithubWebhook\".to_owned(),\n        uid: Some(\"unique-identifier\".to_owned()),\n        config: IngestSourceInConfig::Github(GithubConfig {\n            secret: \"SECRET\".to_owned(),\n            ..Default::default()\n        }),\n        ..Default::default()\n    },\n    None,\n).await?;"},{"label":"C#","lang":"C#","source":"var ingestSourceOut = await svix.Ingest.Source.CreateAsync(\n    new IngestSourceIn{\n        Name = \"myGithubWebhook\",\n        Uid = \"unique-identifier\",\n        Config = IngestSourceInConfig.Github(new GithubConfig {\n            Secret = \"SECRET\",\n        }),\n    }\n);"},{"label":"CLI","lang":"Shell","source":"svix ingest source create '{\n    \"name\": \"myGithubWebhook\",\n    \"uid\": \"unique-identifier\",\n    \"type\": \"github\",\n    \"config\": {\n        \"secret\": \"SECRET\"\n    }\n}'"},{"label":"cURL","lang":"Shell","source":"curl -X 'POST' \\\n    'https://api.eu.svix.com/ingest/api/v1/source' \\\n    -H 'Authorization: Bearer AUTH_TOKEN' \\\n    -H 'Accept: application/json' \\\n    -H 'Content-Type: application/json' \\\n    -d '{\n        \"name\": \"myGithubWebhook\",\n        \"uid\": \"unique-identifier\",\n        \"type\": \"github\",\n        \"config\": {\n            \"secret\": \"SECRET\"\n        }\n    }'"}]}},"/ingest/api/v1/source/{source_id}":{"get":{"tags":["Ingest Source"],"summary":"Get Ingest Source","description":"Get an Ingest Source by id or uid.","operationId":"v1.ingest.source.get","parameters":[{"in":"path","name":"source_id","description":"The Source's ID or UID.","required":true,"schema":{"description":"The Source's ID or UID.","type":"string","maxLength":60,"minLength":1,"example":"unique-identifier"},"style":"simple"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IngestSourceOut"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"const ingestSourceOut = await svix.ingest.source.get(\"source_id\");"},{"label":"TypeScript","lang":"JavaScript","source":"const ingestSourceOut = await svix.ingest.source.get(\"source_id\");"},{"label":"Python","lang":"Python","source":"ingest_source_out = svix.ingest.source.get(\"source_id\")"},{"label":"Python (Async)","lang":"Python","source":"ingest_source_out = await svix.ingest.source.get(\"source_id\")"},{"label":"Go","lang":"Go","source":"ingestSourceOut, err := svixClient.Ingest.Source.Get(ctx, \"source_id\")"},{"label":"Kotlin","lang":"Kotlin","source":"val ingestSourceOut = svix.ingest.source.get(\"source_id\")"},{"label":"Java","lang":"Java","source":"IngestSourceOut ingestSourceOut = svix.getIngest().getSource().get(\"source_id\");"},{"label":"Ruby","lang":"Ruby","source":"ingest_source_out = svix.ingest.source.get(\"source_id\")"},{"label":"Rust","lang":"Rust","source":"let ingest_source_out = svix.ingest().source().get(\"source_id\").await?;"},{"label":"C#","lang":"C#","source":"var ingestSourceOut = await svix.Ingest.Source.GetAsync(\"source_id\");"},{"label":"PHP","lang":"PHP","source":"$ingestSourceOut = $svix->ingest->source->get(\n  'source_id',\n);"},{"label":"CLI","lang":"Shell","source":"svix ingest source get \"source_id\""},{"label":"cURL","lang":"Shell","source":"curl -X 'GET' \\\n  'https://api.eu.svix.com/ingest/api/v1/source/{source_id}' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'"}]},"put":{"tags":["Ingest Source"],"summary":"Update Source","description":"Update an Ingest Source.","operationId":"v1.ingest.source.update","parameters":[{"in":"path","name":"source_id","description":"The Source's ID or UID.","required":true,"schema":{"description":"The Source's ID or UID.","type":"string","maxLength":60,"minLength":1,"example":"unique-identifier"},"style":"simple"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IngestSourceIn"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IngestSourceOut"}}}},"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IngestSourceOut"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}]},"delete":{"tags":["Ingest Source"],"summary":"Delete Ingest Source","description":"Delete an Ingest Source.","operationId":"v1.ingest.source.delete","parameters":[{"in":"path","name":"source_id","description":"The Source's ID or UID.","required":true,"schema":{"description":"The Source's ID or UID.","type":"string","maxLength":60,"minLength":1,"example":"unique-identifier"},"style":"simple"}],"responses":{"204":{"description":"no content"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"await svix.ingest.source.delete(\"source_id\");"},{"label":"TypeScript","lang":"JavaScript","source":"await svix.ingest.source.delete(\"source_id\");"},{"label":"Python","lang":"Python","source":"svix.ingest.source.delete(\"source_id\")"},{"label":"Python (Async)","lang":"Python","source":"await svix.ingest.source.delete(\"source_id\")"},{"label":"Go","lang":"Go","source":"err := svixClient.Ingest.Source.Delete(ctx, \"source_id\")"},{"label":"Kotlin","lang":"Kotlin","source":"svix.ingest.source.delete(\"source_id\")"},{"label":"Java","lang":"Java","source":"svix.getIngest().getSource().delete(\"source_id\");"},{"label":"Ruby","lang":"Ruby","source":"svix.ingest.source.delete(\"source_id\")"},{"label":"Rust","lang":"Rust","source":"svix.ingest().source().delete(\"source_id\").await?;"},{"label":"C#","lang":"C#","source":"await svix.Ingest.Source.DeleteAsync(\"source_id\");"},{"label":"PHP","lang":"PHP","source":"$svix->ingest->source->delete(\n  'source_id',\n);"},{"label":"CLI","lang":"Shell","source":"svix ingest source delete \"source_id\""},{"label":"cURL","lang":"Shell","source":"curl -X 'DELETE' \\\n  'https://api.eu.svix.com/ingest/api/v1/source/{source_id}' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'"}]}},"/ingest/api/v1/source/{source_id}/token/rotate":{"post":{"tags":["Ingest Source"],"summary":"Rotate Ingest Token","description":"Rotate the Ingest Source's Url Token.\n\nThis will rotate the ingest source's token, which is used to\nconstruct the unique `ingestUrl` for the source. Previous tokens\nwill remain valid for 48 hours after rotation. The token can be\nrotated a maximum of three times within the 48-hour period.","operationId":"v1.ingest.source.rotate-token","parameters":[{"in":"path","name":"source_id","description":"The Source's ID or UID.","required":true,"schema":{"description":"The Source's ID or UID.","type":"string","maxLength":60,"minLength":1,"example":"unique-identifier"},"style":"simple"},{"in":"header","name":"idempotency-key","description":"The request's idempotency key","schema":{"type":"string"},"style":"simple"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RotateTokenOut"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"const rotateTokenOut = await svix.ingest.source.rotateToken(\"source_id\");"},{"label":"TypeScript","lang":"JavaScript","source":"const rotateTokenOut = await svix.ingest.source.rotateToken(\"source_id\");"},{"label":"Python","lang":"Python","source":"rotate_token_out = svix.ingest.source.rotate_token(\"source_id\", options=...)"},{"label":"Python (Async)","lang":"Python","source":"rotate_token_out = await svix.ingest.source.rotate_token(\"source_id\", options=...)"},{"label":"Go","lang":"Go","source":"rotateTokenOut, err := svixClient.Ingest.Source.RotateToken(ctx, \"source_id\")"},{"label":"Kotlin","lang":"Kotlin","source":"val rotateTokenOut = svix.ingest.source.rotateToken(\"source_id\")"},{"label":"Java","lang":"Java","source":"RotateTokenOut rotateTokenOut = svix.getIngest().getSource().rotateToken(\"source_id\");"},{"label":"Ruby","lang":"Ruby","source":"rotate_token_out = svix.ingest.source.rotate_token(\"source_id\")"},{"label":"Rust","lang":"Rust","source":"let rotate_token_out = svix.ingest().source().rotate_token(\"source_id\", None).await?;"},{"label":"C#","lang":"C#","source":"var rotateTokenOut = await svix.Ingest.Source.RotateTokenAsync(\"source_id\");"},{"label":"PHP","lang":"PHP","source":"$rotateTokenOut = $svix->ingest->source->rotateToken(\n  'source_id',\n);"},{"label":"CLI","lang":"Shell","source":"svix ingest source rotate-token \"source_id\""},{"label":"cURL","lang":"Shell","source":"curl -X 'POST' \\\n  'https://api.eu.svix.com/ingest/api/v1/source/{source_id}/token/rotate' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'"}]}},"/ingest/api/v1/source/{source_id}/dashboard":{"post":{"tags":["Ingest Source"],"summary":"Ingest Source Consumer Portal","description":"Get access to the Ingest Source Consumer Portal.","operationId":"v1.ingest.dashboard","parameters":[{"in":"path","name":"source_id","description":"The Source's ID or UID.","required":true,"schema":{"description":"The Source's ID or UID.","type":"string","maxLength":60,"minLength":1,"example":"unique-identifier"},"style":"simple"},{"in":"header","name":"idempotency-key","description":"The request's idempotency key","schema":{"type":"string"},"style":"simple"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IngestSourceConsumerPortalAccessIn"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardAccessOut"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"const dashboardAccessOut = await svix.ingest.dashboard(\"source_id\", {\n    expiry: null,\n    readOnly: null\n});"},{"label":"TypeScript","lang":"JavaScript","source":"const dashboardAccessOut = await svix.ingest.dashboard(\"source_id\", {\n    expiry: null,\n    readOnly: null\n});"},{"label":"Python","lang":"Python","source":"dashboard_access_out = svix.ingest.dashboard(\"source_id\", IngestSourceConsumerPortalAccessIn(\n    expiry=None,\n    read_only=None\n), options=...)"},{"label":"Python (Async)","lang":"Python","source":"dashboard_access_out = await svix.ingest.dashboard(\"source_id\", IngestSourceConsumerPortalAccessIn(\n    expiry=None,\n    read_only=None\n), options=...)"},{"label":"Go","lang":"Go","source":"dashboardAccessOut, err := svixClient.Ingest.Dashboard(ctx, \"source_id\", &IngestSourceConsumerPortalAccessIn{\n    Expiry: nil,\n    ReadOnly: nil,\n})"},{"label":"Kotlin","lang":"Kotlin","source":"val dashboardAccessOut = svix.ingest.dashboard(\"source_id\", IngestSourceConsumerPortalAccessIn()\n    .expiry(null)\n    .readOnly(null)\n)"},{"label":"Java","lang":"Java","source":"DashboardAccessOut dashboardAccessOut = svix.getIngest().dashboard(\"source_id\", new IngestSourceConsumerPortalAccessIn()\n    .expiry(null)\n    .readOnly(null)\n);"},{"label":"Ruby","lang":"Ruby","source":"dashboard_access_out = svix.ingest.dashboard(\"source_id\", Svix::IngestSourceConsumerPortalAccessIn.new({\n    \"expiry\": nil,\n    \"read_only\": nil\n}))"},{"label":"Rust","lang":"Rust","source":"let dashboard_access_out = svix.ingest().dashboard(\"source_id\", IngestSourceConsumerPortalAccessIn {\n    expiry: None,\n    read_only: None,\n}, None).await?;"},{"label":"C#","lang":"C#","source":"var dashboardAccessOut = await svix.Ingest.DashboardAsync(\"source_id\", new IngestSourceConsumerPortalAccessIn{\n    expiry: null,\n    readOnly: null\n});"},{"label":"PHP","lang":"PHP","source":"$dashboardAccessOut = $svix->ingest->dashboard(\n  'source_id',\n  IngestSourceConsumerPortalAccessIn::create(\n  )\n    ->withExpiry(null)\n    ->withReadOnly(null)\n);"},{"label":"CLI","lang":"Shell","source":"svix ingest dashboard \"source_id\" '{\n    \"expiry\": null,\n    \"readOnly\": null\n}'"},{"label":"cURL","lang":"Shell","source":"curl -X 'POST' \\\n  'https://api.eu.svix.com/ingest/api/v1/source/{source_id}/dashboard' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n        \"expiry\": null,\n        \"readOnly\": null\n    }'"}]}},"/ingest/api/v1/source/{source_id}/endpoint":{"get":{"tags":["Ingest Endpoint"],"summary":"List Ingest Endpoints","description":"List ingest endpoints.","operationId":"v1.ingest.endpoint.list","parameters":[{"in":"path","name":"source_id","description":"The Source's ID or UID.","required":true,"schema":{"description":"The Source's ID or UID.","type":"string","maxLength":60,"minLength":1,"example":"unique-identifier"},"style":"simple"},{"in":"query","name":"limit","description":"Limit the number of returned items","schema":{"description":"Limit the number of returned items","type":"integer","format":"uint64","maximum":250.0,"minimum":1.0},"style":"form"},{"in":"query","name":"iterator","description":"The iterator returned from a prior invocation","schema":{"description":"The iterator returned from a prior invocation","type":"string","maxLength":30,"minLength":30,"pattern":"^ep_[A-Za-z0-9]{27}$","example":"ep_1srOrx2ZWZBpBUvZwXKQmoEYga2","nullable":true},"style":"form"},{"in":"query","name":"order","description":"The sorting order of the returned items","schema":{"description":"The sorting order of the returned items","$ref":"#/components/schemas/Ordering","nullable":true},"style":"form"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResponse_IngestEndpointOut_"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"const listResponseIngestEndpointOut = await svix.ingest.endpoint.list(\"source_id\");"},{"label":"TypeScript","lang":"JavaScript","source":"const listResponseIngestEndpointOut = await svix.ingest.endpoint.list(\"source_id\");"},{"label":"Python","lang":"Python","source":"list_response_ingest_endpoint_out = svix.ingest.endpoint.list(\"source_id\", options=...)"},{"label":"Python (Async)","lang":"Python","source":"list_response_ingest_endpoint_out = await svix.ingest.endpoint.list(\"source_id\", options=...)"},{"label":"Go","lang":"Go","source":"listResponseIngestEndpointOut, err := svixClient.Ingest.Endpoint.List(ctx, \"source_id\", nil)"},{"label":"Kotlin","lang":"Kotlin","source":"val listResponseIngestEndpointOut = svix.ingest.endpoint.list(\"source_id\")"},{"label":"Java","lang":"Java","source":"ListResponseIngestEndpointOut listResponseIngestEndpointOut = svix.getIngest().getEndpoint().list(\"source_id\");"},{"label":"Ruby","lang":"Ruby","source":"list_response_ingest_endpoint_out = svix.ingest.endpoint.list(\"source_id\")"},{"label":"Rust","lang":"Rust","source":"let list_response_ingest_endpoint_out = svix.ingest().endpoint().list(\"source_id\", None).await?;"},{"label":"C#","lang":"C#","source":"var listResponseIngestEndpointOut = await svix.Ingest.Endpoint.ListAsync(\"source_id\");"},{"label":"PHP","lang":"PHP","source":"$listResponseIngestEndpointOut = $svix->ingest->endpoint->list(\n  'source_id',\n);"},{"label":"CLI","lang":"Shell","source":"svix ingest endpoint list \"source_id\""},{"label":"cURL","lang":"Shell","source":"curl -X 'GET' \\\n  'https://api.eu.svix.com/ingest/api/v1/source/{source_id}/endpoint' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'"}]},"post":{"tags":["Ingest Endpoint"],"summary":"Create Ingest Endpoint","description":"Create an ingest endpoint.","operationId":"v1.ingest.endpoint.create","parameters":[{"in":"path","name":"source_id","description":"The Source's ID or UID.","required":true,"schema":{"description":"The Source's ID or UID.","type":"string","maxLength":60,"minLength":1,"example":"unique-identifier"},"style":"simple"},{"in":"header","name":"idempotency-key","description":"The request's idempotency key","schema":{"type":"string"},"style":"simple"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IngestEndpointIn"}}},"required":true},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IngestEndpointOut"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"const ingestEndpointOut = await svix.ingest.endpoint.create(\"source_id\", {\n    description: \"An example endpoint name\",\n    rateLimit: null,\n    uid: \"unique-identifier\",\n    url: \"https://example.com/webhook/\",\n    disabled: false,\n    secret: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n});"},{"label":"TypeScript","lang":"JavaScript","source":"const ingestEndpointOut = await svix.ingest.endpoint.create(\"source_id\", {\n    description: \"An example endpoint name\",\n    rateLimit: null,\n    uid: \"unique-identifier\",\n    url: \"https://example.com/webhook/\",\n    disabled: false,\n    secret: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n});"},{"label":"Python","lang":"Python","source":"ingest_endpoint_out = svix.ingest.endpoint.create(\"source_id\", IngestEndpointIn(\n    description=\"An example endpoint name\",\n    rate_limit=None,\n    uid=\"unique-identifier\",\n    url=\"https://example.com/webhook/\",\n    disabled=False,\n    secret=\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n), options=...)"},{"label":"Python (Async)","lang":"Python","source":"ingest_endpoint_out = await svix.ingest.endpoint.create(\"source_id\", IngestEndpointIn(\n    description=\"An example endpoint name\",\n    rate_limit=None,\n    uid=\"unique-identifier\",\n    url=\"https://example.com/webhook/\",\n    disabled=False,\n    secret=\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n), options=...)"},{"label":"Go","lang":"Go","source":"ingestEndpointOut, err := svixClient.Ingest.Endpoint.Create(ctx, \"source_id\", &IngestEndpointIn{\n    Description: \"An example endpoint name\",\n    RateLimit: nil,\n    Uid: \"unique-identifier\",\n    Url: \"https://example.com/webhook/\",\n    Disabled: false,\n    Secret: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n})"},{"label":"Kotlin","lang":"Kotlin","source":"val ingestEndpointOut = svix.ingest.endpoint.create(\"source_id\", IngestEndpointIn()\n    .description(\"An example endpoint name\")\n    .rateLimit(null)\n    .uid(\"unique-identifier\")\n    .url(\"https://example.com/webhook/\")\n    .disabled(false)\n    .secret(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\")\n)"},{"label":"Java","lang":"Java","source":"IngestEndpointOut ingestEndpointOut = svix.getIngest().getEndpoint().create(\"source_id\", new IngestEndpointIn()\n    .description(\"An example endpoint name\")\n    .rateLimit(null)\n    .uid(\"unique-identifier\")\n    .url(\"https://example.com/webhook/\")\n    .disabled(false)\n    .secret(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\")\n);"},{"label":"Ruby","lang":"Ruby","source":"ingest_endpoint_out = svix.ingest.endpoint.create(\"source_id\", Svix::IngestEndpointIn.new({\n    \"description\": \"An example endpoint name\",\n    \"rate_limit\": nil,\n    \"uid\": \"unique-identifier\",\n    \"url\": \"https://example.com/webhook/\",\n    \"disabled\": false,\n    \"secret\": \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n}))"},{"label":"Rust","lang":"Rust","source":"let ingest_endpoint_out = svix.ingest().endpoint().create(\"source_id\", IngestEndpointIn {\n    description: Some(\"An example endpoint name\".to_string()),\n    rate_limit: None,\n    uid: Some(\"unique-identifier\".to_string()),\n    url: \"https://example.com/webhook/\".to_string(),\n    disabled: Some(false),\n    secret: Some(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\".to_string()),\n}, None).await?;"},{"label":"C#","lang":"C#","source":"var ingestEndpointOut = await svix.Ingest.Endpoint.CreateAsync(\"source_id\", new IngestEndpointIn{\n    description: \"An example endpoint name\",\n    rateLimit: null,\n    uid: \"unique-identifier\",\n    url: \"https://example.com/webhook/\",\n    disabled: false,\n    secret: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n});"},{"label":"PHP","lang":"PHP","source":"$ingestEndpointOut = $svix->ingest->endpoint->create(\n  'source_id',\n  IngestEndpointIn::create(\n    url: 'https://example.com/webhook/',\n  )\n    ->withDescription('An example endpoint name')\n    ->withRateLimit(null)\n    ->withUid('unique-identifier')\n    ->withDisabled(false)\n    ->withSecret('whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD')\n);"},{"label":"CLI","lang":"Shell","source":"svix ingest endpoint create \"source_id\" '{\n    \"description\": \"An example endpoint name\",\n    \"rateLimit\": null,\n    \"uid\": \"unique-identifier\",\n    \"url\": \"https://example.com/webhook/\",\n    \"disabled\": false,\n    \"secret\": \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n}'"},{"label":"cURL","lang":"Shell","source":"curl -X 'POST' \\\n  'https://api.eu.svix.com/ingest/api/v1/source/{source_id}/endpoint' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n        \"description\": \"An example endpoint name\",\n        \"rateLimit\": null,\n        \"uid\": \"unique-identifier\",\n        \"url\": \"https://example.com/webhook/\",\n        \"disabled\": false,\n        \"secret\": \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n    }'"}]}},"/ingest/api/v1/source/{source_id}/endpoint/{endpoint_id}":{"get":{"tags":["Ingest Endpoint"],"summary":"Get Ingest Endpoint","description":"Get an ingest endpoint.","operationId":"v1.ingest.endpoint.get","parameters":[{"in":"path","name":"source_id","description":"The Source's ID or UID.","required":true,"schema":{"description":"The Source's ID or UID.","type":"string","maxLength":60,"minLength":1,"example":"unique-identifier"},"style":"simple"},{"in":"path","name":"endpoint_id","description":"The Endpoint's ID or UID.","required":true,"schema":{"description":"The Endpoint's ID or UID.","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-identifier"},"style":"simple"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IngestEndpointOut"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"const ingestEndpointOut = await svix.ingest.endpoint.get(\"source_id\", \"endpoint_id\");"},{"label":"TypeScript","lang":"JavaScript","source":"const ingestEndpointOut = await svix.ingest.endpoint.get(\"source_id\", \"endpoint_id\");"},{"label":"Python","lang":"Python","source":"ingest_endpoint_out = svix.ingest.endpoint.get(\"source_id\", \"endpoint_id\")"},{"label":"Python (Async)","lang":"Python","source":"ingest_endpoint_out = await svix.ingest.endpoint.get(\"source_id\", \"endpoint_id\")"},{"label":"Go","lang":"Go","source":"ingestEndpointOut, err := svixClient.Ingest.Endpoint.Get(ctx, \"source_id\", \"endpoint_id\")"},{"label":"Kotlin","lang":"Kotlin","source":"val ingestEndpointOut = svix.ingest.endpoint.get(\"source_id\", \"endpoint_id\")"},{"label":"Java","lang":"Java","source":"IngestEndpointOut ingestEndpointOut = svix.getIngest().getEndpoint().get(\"source_id\", \"endpoint_id\");"},{"label":"Ruby","lang":"Ruby","source":"ingest_endpoint_out = svix.ingest.endpoint.get(\"source_id\", \"endpoint_id\")"},{"label":"Rust","lang":"Rust","source":"let ingest_endpoint_out = svix.ingest().endpoint().get(\"source_id\", \"endpoint_id\").await?;"},{"label":"C#","lang":"C#","source":"var ingestEndpointOut = await svix.Ingest.Endpoint.GetAsync(\"source_id\", \"endpoint_id\");"},{"label":"PHP","lang":"PHP","source":"$ingestEndpointOut = $svix->ingest->endpoint->get(\n  'source_id',\n  'endpoint_id',\n);"},{"label":"CLI","lang":"Shell","source":"svix ingest endpoint get \"source_id\" \"endpoint_id\""},{"label":"cURL","lang":"Shell","source":"curl -X 'GET' \\\n  'https://api.eu.svix.com/ingest/api/v1/source/{source_id}/endpoint/{endpoint_id}' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'"}]},"put":{"tags":["Ingest Endpoint"],"summary":"Update Ingest Endpoint","description":"Update an ingest endpoint.","operationId":"v1.ingest.endpoint.update","parameters":[{"in":"path","name":"source_id","description":"The Source's ID or UID.","required":true,"schema":{"description":"The Source's ID or UID.","type":"string","maxLength":60,"minLength":1,"example":"unique-identifier"},"style":"simple"},{"in":"path","name":"endpoint_id","description":"The Endpoint's ID or UID.","required":true,"schema":{"description":"The Endpoint's ID or UID.","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-identifier"},"style":"simple"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IngestEndpointUpdate"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IngestEndpointOut"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"const ingestEndpointOut = await svix.ingest.endpoint.update(\"source_id\", \"endpoint_id\", {\n    description: \"An example endpoint name\",\n    rateLimit: null,\n    uid: \"unique-identifier\",\n    url: \"https://example.com/webhook/\",\n    disabled: false\n});"},{"label":"TypeScript","lang":"JavaScript","source":"const ingestEndpointOut = await svix.ingest.endpoint.update(\"source_id\", \"endpoint_id\", {\n    description: \"An example endpoint name\",\n    rateLimit: null,\n    uid: \"unique-identifier\",\n    url: \"https://example.com/webhook/\",\n    disabled: false\n});"},{"label":"Python","lang":"Python","source":"ingest_endpoint_out = svix.ingest.endpoint.update(\"source_id\", \"endpoint_id\", IngestEndpointUpdate(\n    description=\"An example endpoint name\",\n    rate_limit=None,\n    uid=\"unique-identifier\",\n    url=\"https://example.com/webhook/\",\n    disabled=False\n))"},{"label":"Python (Async)","lang":"Python","source":"ingest_endpoint_out = await svix.ingest.endpoint.update(\"source_id\", \"endpoint_id\", IngestEndpointUpdate(\n    description=\"An example endpoint name\",\n    rate_limit=None,\n    uid=\"unique-identifier\",\n    url=\"https://example.com/webhook/\",\n    disabled=False\n))"},{"label":"Go","lang":"Go","source":"ingestEndpointOut, err := svixClient.Ingest.Endpoint.Update(ctx, \"source_id\", \"endpoint_id\", &IngestEndpointUpdate{\n    Description: \"An example endpoint name\",\n    RateLimit: nil,\n    Uid: \"unique-identifier\",\n    Url: \"https://example.com/webhook/\",\n    Disabled: false,\n})"},{"label":"Kotlin","lang":"Kotlin","source":"val ingestEndpointOut = svix.ingest.endpoint.update(\"source_id\", \"endpoint_id\", IngestEndpointUpdate()\n    .description(\"An example endpoint name\")\n    .rateLimit(null)\n    .uid(\"unique-identifier\")\n    .url(\"https://example.com/webhook/\")\n    .disabled(false)\n)"},{"label":"Java","lang":"Java","source":"IngestEndpointOut ingestEndpointOut = svix.getIngest().getEndpoint().update(\"source_id\", \"endpoint_id\", new IngestEndpointUpdate()\n    .description(\"An example endpoint name\")\n    .rateLimit(null)\n    .uid(\"unique-identifier\")\n    .url(\"https://example.com/webhook/\")\n    .disabled(false)\n);"},{"label":"Ruby","lang":"Ruby","source":"ingest_endpoint_out = svix.ingest.endpoint.update(\"source_id\", \"endpoint_id\", Svix::IngestEndpointUpdate.new({\n    \"description\": \"An example endpoint name\",\n    \"rate_limit\": nil,\n    \"uid\": \"unique-identifier\",\n    \"url\": \"https://example.com/webhook/\",\n    \"disabled\": false\n}))"},{"label":"Rust","lang":"Rust","source":"let ingest_endpoint_out = svix.ingest().endpoint().update(\"source_id\", \"endpoint_id\", IngestEndpointUpdate {\n    description: Some(\"An example endpoint name\".to_string()),\n    rate_limit: None,\n    uid: Some(\"unique-identifier\".to_string()),\n    url: \"https://example.com/webhook/\".to_string(),\n    disabled: Some(false),\n}).await?;"},{"label":"C#","lang":"C#","source":"var ingestEndpointOut = await svix.Ingest.Endpoint.UpdateAsync(\"source_id\", \"endpoint_id\", new IngestEndpointUpdate{\n    description: \"An example endpoint name\",\n    rateLimit: null,\n    uid: \"unique-identifier\",\n    url: \"https://example.com/webhook/\",\n    disabled: false\n});"},{"label":"PHP","lang":"PHP","source":"$ingestEndpointOut = $svix->ingest->endpoint->update(\n  'source_id',\n  'endpoint_id',\n  IngestEndpointUpdate::create(\n    url: 'https://example.com/webhook/',\n  )\n    ->withDescription('An example endpoint name')\n    ->withRateLimit(null)\n    ->withUid('unique-identifier')\n    ->withDisabled(false)\n);"},{"label":"CLI","lang":"Shell","source":"svix ingest endpoint update \"source_id\" \"endpoint_id\" '{\n    \"description\": \"An example endpoint name\",\n    \"rateLimit\": null,\n    \"uid\": \"unique-identifier\",\n    \"url\": \"https://example.com/webhook/\",\n    \"disabled\": false\n}'"},{"label":"cURL","lang":"Shell","source":"curl -X 'PUT' \\\n  'https://api.eu.svix.com/ingest/api/v1/source/{source_id}/endpoint/{endpoint_id}' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n        \"description\": \"An example endpoint name\",\n        \"rateLimit\": null,\n        \"uid\": \"unique-identifier\",\n        \"url\": \"https://example.com/webhook/\",\n        \"disabled\": false\n    }'"}]},"delete":{"tags":["Ingest Endpoint"],"summary":"Delete Ingest Endpoint","description":"Delete an ingest endpoint.","operationId":"v1.ingest.endpoint.delete","parameters":[{"in":"path","name":"source_id","description":"The Source's ID or UID.","required":true,"schema":{"description":"The Source's ID or UID.","type":"string","maxLength":60,"minLength":1,"example":"unique-identifier"},"style":"simple"},{"in":"path","name":"endpoint_id","description":"The Endpoint's ID or UID.","required":true,"schema":{"description":"The Endpoint's ID or UID.","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-identifier"},"style":"simple"}],"responses":{"204":{"description":"no content"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"await svix.ingest.endpoint.delete(\"source_id\", \"endpoint_id\");"},{"label":"TypeScript","lang":"JavaScript","source":"await svix.ingest.endpoint.delete(\"source_id\", \"endpoint_id\");"},{"label":"Python","lang":"Python","source":"svix.ingest.endpoint.delete(\"source_id\", \"endpoint_id\")"},{"label":"Python (Async)","lang":"Python","source":"await svix.ingest.endpoint.delete(\"source_id\", \"endpoint_id\")"},{"label":"Go","lang":"Go","source":"err := svixClient.Ingest.Endpoint.Delete(ctx, \"source_id\", \"endpoint_id\")"},{"label":"Kotlin","lang":"Kotlin","source":"svix.ingest.endpoint.delete(\"source_id\", \"endpoint_id\")"},{"label":"Java","lang":"Java","source":"svix.getIngest().getEndpoint().delete(\"source_id\", \"endpoint_id\");"},{"label":"Ruby","lang":"Ruby","source":"svix.ingest.endpoint.delete(\"source_id\", \"endpoint_id\")"},{"label":"Rust","lang":"Rust","source":"svix.ingest().endpoint().delete(\"source_id\", \"endpoint_id\").await?;"},{"label":"C#","lang":"C#","source":"await svix.Ingest.Endpoint.DeleteAsync(\"source_id\", \"endpoint_id\");"},{"label":"PHP","lang":"PHP","source":"$svix->ingest->endpoint->delete(\n  'source_id',\n  'endpoint_id',\n);"},{"label":"CLI","lang":"Shell","source":"svix ingest endpoint delete \"source_id\" \"endpoint_id\""},{"label":"cURL","lang":"Shell","source":"curl -X 'DELETE' \\\n  'https://api.eu.svix.com/ingest/api/v1/source/{source_id}/endpoint/{endpoint_id}' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'"}]}},"/ingest/api/v1/source/{source_id}/endpoint/{endpoint_id}/secret":{"get":{"tags":["Ingest Endpoint"],"summary":"Get Ingest Endpoint Secret","description":"Get an ingest endpoint's signing secret.\n\nThis is used to verify the authenticity of the webhook.\nFor more information please refer to [the consuming webhooks docs](https://docs.svix.com/consuming-webhooks/).","operationId":"v1.ingest.endpoint.get-secret","parameters":[{"in":"path","name":"source_id","description":"The Source's ID or UID.","required":true,"schema":{"description":"The Source's ID or UID.","type":"string","maxLength":60,"minLength":1,"example":"unique-identifier"},"style":"simple"},{"in":"path","name":"endpoint_id","description":"The Endpoint's ID or UID.","required":true,"schema":{"description":"The Endpoint's ID or UID.","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-identifier"},"style":"simple"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IngestEndpointSecretOut"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"const ingestEndpointSecretOut = await svix.ingest.endpoint.getSecret(\"source_id\", \"endpoint_id\");"},{"label":"TypeScript","lang":"JavaScript","source":"const ingestEndpointSecretOut = await svix.ingest.endpoint.getSecret(\"source_id\", \"endpoint_id\");"},{"label":"Python","lang":"Python","source":"ingest_endpoint_secret_out = svix.ingest.endpoint.get_secret(\"source_id\", \"endpoint_id\")"},{"label":"Python (Async)","lang":"Python","source":"ingest_endpoint_secret_out = await svix.ingest.endpoint.get_secret(\"source_id\", \"endpoint_id\")"},{"label":"Go","lang":"Go","source":"ingestEndpointSecretOut, err := svixClient.Ingest.Endpoint.GetSecret(ctx, \"source_id\", \"endpoint_id\")"},{"label":"Kotlin","lang":"Kotlin","source":"val ingestEndpointSecretOut = svix.ingest.endpoint.getSecret(\"source_id\", \"endpoint_id\")"},{"label":"Java","lang":"Java","source":"IngestEndpointSecretOut ingestEndpointSecretOut = svix.getIngest().getEndpoint().getSecret(\"source_id\", \"endpoint_id\");"},{"label":"Ruby","lang":"Ruby","source":"ingest_endpoint_secret_out = svix.ingest.endpoint.get_secret(\"source_id\", \"endpoint_id\")"},{"label":"Rust","lang":"Rust","source":"let ingest_endpoint_secret_out = svix.ingest().endpoint().get_secret(\"source_id\", \"endpoint_id\").await?;"},{"label":"C#","lang":"C#","source":"var ingestEndpointSecretOut = await svix.Ingest.Endpoint.GetSecretAsync(\"source_id\", \"endpoint_id\");"},{"label":"PHP","lang":"PHP","source":"$ingestEndpointSecretOut = $svix->ingest->endpoint->getSecret(\n  'source_id',\n  'endpoint_id',\n);"},{"label":"CLI","lang":"Shell","source":"svix ingest endpoint get-secret \"source_id\" \"endpoint_id\""},{"label":"cURL","lang":"Shell","source":"curl -X 'GET' \\\n  'https://api.eu.svix.com/ingest/api/v1/source/{source_id}/endpoint/{endpoint_id}/secret' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'"}]}},"/ingest/api/v1/source/{source_id}/endpoint/{endpoint_id}/secret/rotate":{"post":{"tags":["Ingest Endpoint"],"summary":"Rotate Ingest Endpoint Secret","description":"Rotates an ingest endpoint's signing secret.\n\nThe previous secret will remain valid for the next 24 hours.","operationId":"v1.ingest.endpoint.rotate-secret","parameters":[{"in":"path","name":"source_id","description":"The Source's ID or UID.","required":true,"schema":{"description":"The Source's ID or UID.","type":"string","maxLength":60,"minLength":1,"example":"unique-identifier"},"style":"simple"},{"in":"path","name":"endpoint_id","description":"The Endpoint's ID or UID.","required":true,"schema":{"description":"The Endpoint's ID or UID.","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-identifier"},"style":"simple"},{"in":"header","name":"idempotency-key","description":"The request's idempotency key","schema":{"type":"string"},"style":"simple"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IngestEndpointSecretIn"}}},"required":true},"responses":{"204":{"description":"no content"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"await svix.ingest.endpoint.rotateSecret(\"source_id\", \"endpoint_id\", {\n    key: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n});"},{"label":"TypeScript","lang":"JavaScript","source":"await svix.ingest.endpoint.rotateSecret(\"source_id\", \"endpoint_id\", {\n    key: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n});"},{"label":"Python","lang":"Python","source":"svix.ingest.endpoint.rotate_secret(\"source_id\", \"endpoint_id\", IngestEndpointSecretIn(\n    key=\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n), options=...)"},{"label":"Python (Async)","lang":"Python","source":"await svix.ingest.endpoint.rotate_secret(\"source_id\", \"endpoint_id\", IngestEndpointSecretIn(\n    key=\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n), options=...)"},{"label":"Go","lang":"Go","source":"err := svixClient.Ingest.Endpoint.RotateSecret(ctx, \"source_id\", \"endpoint_id\", &IngestEndpointSecretIn{\n    Key: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n})"},{"label":"Kotlin","lang":"Kotlin","source":"svix.ingest.endpoint.rotateSecret(\"source_id\", \"endpoint_id\", IngestEndpointSecretIn()\n    .key(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\")\n)"},{"label":"Java","lang":"Java","source":"svix.getIngest().getEndpoint().rotateSecret(\"source_id\", \"endpoint_id\", new IngestEndpointSecretIn()\n    .key(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\")\n);"},{"label":"Ruby","lang":"Ruby","source":"svix.ingest.endpoint.rotate_secret(\"source_id\", \"endpoint_id\", Svix::IngestEndpointSecretIn.new({\n    \"key\": \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n}))"},{"label":"Rust","lang":"Rust","source":"svix.ingest().endpoint().rotate_secret(\"source_id\", \"endpoint_id\", IngestEndpointSecretIn {\n    key: Some(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\".to_string()),\n}, None).await?;"},{"label":"C#","lang":"C#","source":"await svix.Ingest.Endpoint.RotateSecretAsync(\"source_id\", \"endpoint_id\", new IngestEndpointSecretIn{\n    key: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n});"},{"label":"PHP","lang":"PHP","source":"$svix->ingest->endpoint->rotateSecret(\n  'source_id',\n  'endpoint_id',\n  IngestEndpointSecretIn::create(\n  )\n    ->withKey('whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD')\n);"},{"label":"CLI","lang":"Shell","source":"svix ingest endpoint rotate-secret \"source_id\" \"endpoint_id\" '{\n    \"key\": \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n}'"},{"label":"cURL","lang":"Shell","source":"curl -X 'POST' \\\n  'https://api.eu.svix.com/ingest/api/v1/source/{source_id}/endpoint/{endpoint_id}/secret/rotate' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n        \"key\": \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n    }'"}]}},"/ingest/api/v1/source/{source_id}/endpoint/{endpoint_id}/headers":{"get":{"tags":["Ingest Endpoint"],"summary":"Get Ingest Endpoint Headers","description":"Get the additional headers to be sent with the ingest.","operationId":"v1.ingest.endpoint.get-headers","parameters":[{"in":"path","name":"source_id","description":"The Source's ID or UID.","required":true,"schema":{"description":"The Source's ID or UID.","type":"string","maxLength":60,"minLength":1,"example":"unique-identifier"},"style":"simple"},{"in":"path","name":"endpoint_id","description":"The Endpoint's ID or UID.","required":true,"schema":{"description":"The Endpoint's ID or UID.","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-identifier"},"style":"simple"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IngestEndpointHeadersOut"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"const ingestEndpointHeadersOut = await svix.ingest.endpoint.getHeaders(\"source_id\", \"endpoint_id\");"},{"label":"TypeScript","lang":"JavaScript","source":"const ingestEndpointHeadersOut = await svix.ingest.endpoint.getHeaders(\"source_id\", \"endpoint_id\");"},{"label":"Python","lang":"Python","source":"ingest_endpoint_headers_out = svix.ingest.endpoint.get_headers(\"source_id\", \"endpoint_id\")"},{"label":"Python (Async)","lang":"Python","source":"ingest_endpoint_headers_out = await svix.ingest.endpoint.get_headers(\"source_id\", \"endpoint_id\")"},{"label":"Go","lang":"Go","source":"ingestEndpointHeadersOut, err := svixClient.Ingest.Endpoint.GetHeaders(ctx, \"source_id\", \"endpoint_id\")"},{"label":"Kotlin","lang":"Kotlin","source":"val ingestEndpointHeadersOut = svix.ingest.endpoint.getHeaders(\"source_id\", \"endpoint_id\")"},{"label":"Java","lang":"Java","source":"IngestEndpointHeadersOut ingestEndpointHeadersOut = svix.getIngest().getEndpoint().getHeaders(\"source_id\", \"endpoint_id\");"},{"label":"Ruby","lang":"Ruby","source":"ingest_endpoint_headers_out = svix.ingest.endpoint.get_headers(\"source_id\", \"endpoint_id\")"},{"label":"Rust","lang":"Rust","source":"let ingest_endpoint_headers_out = svix.ingest().endpoint().get_headers(\"source_id\", \"endpoint_id\").await?;"},{"label":"C#","lang":"C#","source":"var ingestEndpointHeadersOut = await svix.Ingest.Endpoint.GetHeadersAsync(\"source_id\", \"endpoint_id\");"},{"label":"PHP","lang":"PHP","source":"$ingestEndpointHeadersOut = $svix->ingest->endpoint->getHeaders(\n  'source_id',\n  'endpoint_id',\n);"},{"label":"CLI","lang":"Shell","source":"svix ingest endpoint get-headers \"source_id\" \"endpoint_id\""},{"label":"cURL","lang":"Shell","source":"curl -X 'GET' \\\n  'https://api.eu.svix.com/ingest/api/v1/source/{source_id}/endpoint/{endpoint_id}/headers' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'"}]},"put":{"tags":["Ingest Endpoint"],"summary":"Update Ingest Endpoint Headers","description":"Set the additional headers to be sent to the endpoint.","operationId":"v1.ingest.endpoint.update-headers","parameters":[{"in":"path","name":"source_id","description":"The Source's ID or UID.","required":true,"schema":{"description":"The Source's ID or UID.","type":"string","maxLength":60,"minLength":1,"example":"unique-identifier"},"style":"simple"},{"in":"path","name":"endpoint_id","description":"The Endpoint's ID or UID.","required":true,"schema":{"description":"The Endpoint's ID or UID.","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-identifier"},"style":"simple"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IngestEndpointHeadersIn"}}},"required":true},"responses":{"204":{"description":"no content"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"await svix.ingest.endpoint.updateHeaders(\"source_id\", \"endpoint_id\", {\n    headers: {\"X-Example\":\"123\",\"X-Foobar\":\"Bar\"}\n});"},{"label":"TypeScript","lang":"JavaScript","source":"await svix.ingest.endpoint.updateHeaders(\"source_id\", \"endpoint_id\", {\n    headers: {\"X-Example\":\"123\",\"X-Foobar\":\"Bar\"}\n});"},{"label":"Python","lang":"Python","source":"svix.ingest.endpoint.update_headers(\"source_id\", \"endpoint_id\", IngestEndpointHeadersIn(\n    headers={\"X-Example\": \"123\", \"X-Foobar\": \"Bar\"}\n))"},{"label":"Python (Async)","lang":"Python","source":"await svix.ingest.endpoint.update_headers(\"source_id\", \"endpoint_id\", IngestEndpointHeadersIn(\n    headers={\"X-Example\": \"123\", \"X-Foobar\": \"Bar\"}\n))"},{"label":"Go","lang":"Go","source":"err := svixClient.Ingest.Endpoint.UpdateHeaders(ctx, \"source_id\", \"endpoint_id\", &IngestEndpointHeadersIn{\n    Headers: map[string]interface{}{\"X-Example\": \"123\", \"X-Foobar\": \"Bar\"},\n})"},{"label":"Kotlin","lang":"Kotlin","source":"svix.ingest.endpoint.updateHeaders(\"source_id\", \"endpoint_id\", IngestEndpointHeadersIn()\n    .headers(/* ... */)\n)"},{"label":"Java","lang":"Java","source":"svix.getIngest().getEndpoint().updateHeaders(\"source_id\", \"endpoint_id\", new IngestEndpointHeadersIn()\n    .headers(/* ... */)\n);"},{"label":"Ruby","lang":"Ruby","source":"svix.ingest.endpoint.update_headers(\"source_id\", \"endpoint_id\", Svix::IngestEndpointHeadersIn.new({\n    \"headers\": {\"X-Example\":\"123\",\"X-Foobar\":\"Bar\"}\n}))"},{"label":"Rust","lang":"Rust","source":"svix.ingest().endpoint().update_headers(\"source_id\", \"endpoint_id\", IngestEndpointHeadersIn {\n    headers: json!({\"X-Example\":\"123\",\"X-Foobar\":\"Bar\"}),\n}).await?;"},{"label":"C#","lang":"C#","source":"await svix.Ingest.Endpoint.UpdateHeadersAsync(\"source_id\", \"endpoint_id\", new IngestEndpointHeadersIn{\n    headers: /* ... */\n});"},{"label":"PHP","lang":"PHP","source":"$svix->ingest->endpoint->updateHeaders(\n  'source_id',\n  'endpoint_id',\n  IngestEndpointHeadersIn::create(\n    headers: ['X-Example' => '123', 'X-Foobar' => 'Bar'],\n  )\n);"},{"label":"CLI","lang":"Shell","source":"svix ingest endpoint update-headers \"source_id\" \"endpoint_id\" '{\n    \"headers\": {\"X-Example\":\"123\",\"X-Foobar\":\"Bar\"}\n}'"},{"label":"cURL","lang":"Shell","source":"curl -X 'PUT' \\\n  'https://api.eu.svix.com/ingest/api/v1/source/{source_id}/endpoint/{endpoint_id}/headers' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n        \"headers\": {\"X-Example\":\"123\",\"X-Foobar\":\"Bar\"}\n    }'"}]}},"/ingest/api/v1/source/{source_id}/endpoint/{endpoint_id}/transformation":{"get":{"tags":["Ingest Endpoint"],"summary":"Get Ingest Endpoint Transformation","description":"Get the transformation code associated with this ingest endpoint.","operationId":"v1.ingest.endpoint.get-transformation","parameters":[{"in":"path","name":"source_id","description":"The Source's ID or UID.","required":true,"schema":{"description":"The Source's ID or UID.","type":"string","maxLength":60,"minLength":1,"example":"unique-identifier"},"style":"simple"},{"in":"path","name":"endpoint_id","description":"The Endpoint's ID or UID.","required":true,"schema":{"description":"The Endpoint's ID or UID.","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-identifier"},"style":"simple"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IngestEndpointTransformationOut"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"const ingestEndpointTransformationOut = await svix.ingest.endpoint.getTransformation(\"source_id\", \"endpoint_id\");"},{"label":"TypeScript","lang":"JavaScript","source":"const ingestEndpointTransformationOut = await svix.ingest.endpoint.getTransformation(\"source_id\", \"endpoint_id\");"},{"label":"Python","lang":"Python","source":"ingest_endpoint_transformation_out = svix.ingest.endpoint.get_transformation(\"source_id\", \"endpoint_id\")"},{"label":"Python (Async)","lang":"Python","source":"ingest_endpoint_transformation_out = await svix.ingest.endpoint.get_transformation(\"source_id\", \"endpoint_id\")"},{"label":"Go","lang":"Go","source":"ingestEndpointTransformationOut, err := svixClient.Ingest.Endpoint.GetTransformation(ctx, \"source_id\", \"endpoint_id\")"},{"label":"Kotlin","lang":"Kotlin","source":"val ingestEndpointTransformationOut = svix.ingest.endpoint.getTransformation(\"source_id\", \"endpoint_id\")"},{"label":"Java","lang":"Java","source":"IngestEndpointTransformationOut ingestEndpointTransformationOut = svix.getIngest().getEndpoint().getTransformation(\"source_id\", \"endpoint_id\");"},{"label":"Ruby","lang":"Ruby","source":"ingest_endpoint_transformation_out = svix.ingest.endpoint.get_transformation(\"source_id\", \"endpoint_id\")"},{"label":"Rust","lang":"Rust","source":"let ingest_endpoint_transformation_out = svix.ingest().endpoint().get_transformation(\"source_id\", \"endpoint_id\").await?;"},{"label":"C#","lang":"C#","source":"var ingestEndpointTransformationOut = await svix.Ingest.Endpoint.GetTransformationAsync(\"source_id\", \"endpoint_id\");"},{"label":"PHP","lang":"PHP","source":"$ingestEndpointTransformationOut = $svix->ingest->endpoint->getTransformation(\n  'source_id',\n  'endpoint_id',\n);"},{"label":"CLI","lang":"Shell","source":"svix ingest endpoint get-transformation \"source_id\" \"endpoint_id\""},{"label":"cURL","lang":"Shell","source":"curl -X 'GET' \\\n  'https://api.eu.svix.com/ingest/api/v1/source/{source_id}/endpoint/{endpoint_id}/transformation' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'"}]},"patch":{"tags":["Ingest Endpoint"],"summary":"Patch Ingest Endpoint Transformation","description":"Set or unset the transformation code associated with this ingest endpoint.","operationId":"v1.ingest.endpoint.set-transformation","parameters":[{"in":"path","name":"source_id","description":"The Source's ID or UID.","required":true,"schema":{"description":"The Source's ID or UID.","type":"string","maxLength":60,"minLength":1,"example":"unique-identifier"},"style":"simple"},{"in":"path","name":"endpoint_id","description":"The Endpoint's ID or UID.","required":true,"schema":{"description":"The Endpoint's ID or UID.","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-identifier"},"style":"simple"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IngestEndpointTransformationPatch"}}},"required":true},"responses":{"204":{"description":"no content"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"await svix.ingest.endpoint.setTransformation(\"source_id\", \"endpoint_id\", {\n    code: null\n});"},{"label":"TypeScript","lang":"JavaScript","source":"await svix.ingest.endpoint.setTransformation(\"source_id\", \"endpoint_id\", {\n    code: null\n});"},{"label":"Python","lang":"Python","source":"svix.ingest.endpoint.set_transformation(\"source_id\", \"endpoint_id\", IngestEndpointTransformationPatch(\n    code=None\n))"},{"label":"Python (Async)","lang":"Python","source":"await svix.ingest.endpoint.set_transformation(\"source_id\", \"endpoint_id\", IngestEndpointTransformationPatch(\n    code=None\n))"},{"label":"Go","lang":"Go","source":"err := svixClient.Ingest.Endpoint.SetTransformation(ctx, \"source_id\", \"endpoint_id\", &IngestEndpointTransformationPatch{\n    Code: nil,\n})"},{"label":"Kotlin","lang":"Kotlin","source":"svix.ingest.endpoint.setTransformation(\"source_id\", \"endpoint_id\", IngestEndpointTransformationPatch()\n    .code(null)\n)"},{"label":"Java","lang":"Java","source":"svix.getIngest().getEndpoint().setTransformation(\"source_id\", \"endpoint_id\", new IngestEndpointTransformationPatch()\n    .code(null)\n);"},{"label":"Ruby","lang":"Ruby","source":"svix.ingest.endpoint.set_transformation(\"source_id\", \"endpoint_id\", Svix::IngestEndpointTransformationPatch.new({\n    \"code\": nil\n}))"},{"label":"Rust","lang":"Rust","source":"svix.ingest().endpoint().set_transformation(\"source_id\", \"endpoint_id\", IngestEndpointTransformationPatch {\n    code: None,\n}).await?;"},{"label":"C#","lang":"C#","source":"await svix.Ingest.Endpoint.SetTransformationAsync(\"source_id\", \"endpoint_id\", new IngestEndpointTransformationPatch{\n    code: null\n});"},{"label":"PHP","lang":"PHP","source":"$svix->ingest->endpoint->setTransformation(\n  'source_id',\n  'endpoint_id',\n  IngestEndpointTransformationPatch::create(\n  )\n    ->withCode(null)\n);"},{"label":"CLI","lang":"Shell","source":"svix ingest endpoint set-transformation \"source_id\" \"endpoint_id\" '{\n    \"code\": null\n}'"},{"label":"cURL","lang":"Shell","source":"curl -X 'PATCH' \\\n  'https://api.eu.svix.com/ingest/api/v1/source/{source_id}/endpoint/{endpoint_id}/transformation' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n        \"code\": null\n    }'"}]}},"/api/v1/auth/app-portal-access/{app_id}":{"post":{"tags":["Authentication"],"summary":"Get Consumer App Portal Access","description":"Use this function to get magic links (and authentication codes) for connecting your users to the Consumer Application Portal.","operationId":"v1.authentication.app-portal-access","parameters":[{"in":"path","name":"app_id","description":"The Application's ID or UID.","required":true,"schema":{"description":"The Application's ID or UID.","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-identifier"},"style":"simple"},{"in":"header","name":"idempotency-key","description":"The request's idempotency key","schema":{"type":"string"},"style":"simple"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppPortalAccessIn"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppPortalAccessOut"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"const appPortalAccessOut = await svix.authentication.appPortalAccess(\"app_id\", {\n    application: null,\n    capabilities: [\"ViewBase\", \"ViewEndpointSecret\"],\n    featureFlags: [],\n    expiry: null,\n    sessionId: \"user_1FB8\"\n});"},{"label":"TypeScript","lang":"JavaScript","source":"const appPortalAccessOut = await svix.authentication.appPortalAccess(\"app_id\", {\n    application: null,\n    capabilities: [\"ViewBase\", \"ViewEndpointSecret\"],\n    featureFlags: [],\n    expiry: null,\n    sessionId: \"user_1FB8\"\n});"},{"label":"Python","lang":"Python","source":"app_portal_access_out = svix.authentication.app_portal_access(\"app_id\", AppPortalAccessIn(\n    application=None,\n    capabilities=[\"ViewBase\", \"ViewEndpointSecret\"],\n    feature_flags=[],\n    expiry=None,\n    session_id=\"user_1FB8\"\n), options=...)"},{"label":"Python (Async)","lang":"Python","source":"app_portal_access_out = await svix.authentication.app_portal_access(\"app_id\", AppPortalAccessIn(\n    application=None,\n    capabilities=[\"ViewBase\", \"ViewEndpointSecret\"],\n    feature_flags=[],\n    expiry=None,\n    session_id=\"user_1FB8\"\n), options=...)"},{"label":"Go","lang":"Go","source":"appPortalAccessOut, err := svixClient.Authentication.AppPortalAccess(ctx, \"app_id\", &AppPortalAccessIn{\n    Application: nil,\n    Capabilities: []string{\"ViewBase\", \"ViewEndpointSecret\"},\n    FeatureFlags: []interface{}{},\n    Expiry: nil,\n    SessionId: \"user_1FB8\",\n})"},{"label":"Kotlin","lang":"Kotlin","source":"val appPortalAccessOut = svix.authentication.appPortalAccess(\"app_id\", AppPortalAccessIn()\n    .application(null)\n    .capabilities(arrayOf(\"ViewBase\", \"ViewEndpointSecret\"))\n    .featureFlags(arrayOf())\n    .expiry(null)\n    .sessionId(\"user_1FB8\")\n)"},{"label":"Java","lang":"Java","source":"AppPortalAccessOut appPortalAccessOut = svix.getAuthentication().appPortalAccess(\"app_id\", new AppPortalAccessIn()\n    .application(null)\n    .capabilities(new String[]{\"ViewBase\", \"ViewEndpointSecret\"})\n    .featureFlags(new Object[]{})\n    .expiry(null)\n    .sessionId(\"user_1FB8\")\n);"},{"label":"Ruby","lang":"Ruby","source":"app_portal_access_out = svix.authentication.app_portal_access(\"app_id\", Svix::AppPortalAccessIn.new({\n    \"application\": nil,\n    \"capabilities\": [\"ViewBase\", \"ViewEndpointSecret\"],\n    \"feature_flags\": [],\n    \"expiry\": nil,\n    \"session_id\": \"user_1FB8\"\n}))"},{"label":"Rust","lang":"Rust","source":"let app_portal_access_out = svix.authentication().app_portal_access(\"app_id\", AppPortalAccessIn {\n    application: None,\n    capabilities: Some(vec![\"ViewBase\".to_string(), \"ViewEndpointSecret\".to_string()]),\n    feature_flags: Some(vec![]),\n    expiry: None,\n    session_id: Some(\"user_1FB8\".to_string()),\n}, None).await?;"},{"label":"C#","lang":"C#","source":"var appPortalAccessOut = await svix.Authentication.AppPortalAccessAsync(\"app_id\", new AppPortalAccessIn{\n    application: null,\n    capabilities: new string[] {\"ViewBase\", \"ViewEndpointSecret\"},\n    featureFlags: new Object[] {},\n    expiry: null,\n    sessionId: \"user_1FB8\"\n});"},{"label":"PHP","lang":"PHP","source":"$appPortalAccessOut = $svix->authentication->appPortalAccess(\n  'app_id',\n  AppPortalAccessIn::create(\n  )\n    ->withApplication(null)\n    ->withCapabilities(['ViewBase', 'ViewEndpointSecret'])\n    ->withFeatureFlags([])\n    ->withExpiry(null)\n    ->withSessionId('user_1FB8')\n);"},{"label":"CLI","lang":"Shell","source":"svix authentication app-portal-access \"app_id\" '{\n    \"application\": null,\n    \"capabilities\": [\"ViewBase\", \"ViewEndpointSecret\"],\n    \"featureFlags\": [],\n    \"expiry\": null,\n    \"sessionId\": \"user_1FB8\"\n}'"},{"label":"cURL","lang":"Shell","source":"curl -X 'POST' \\\n  'https://api.eu.svix.com/api/v1/auth/app-portal-access/{app_id}' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: appl
[...]
